.employee-view-container {
}

.employee-info-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.employee-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.employee {
    border: 2px solid #263857;
    color: #263857;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.bold {
    border-right: none;
    font-weight: 600;
}
