.details-wrapper {
}

.list-empty-state {
    text-align: center;
}

.row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5fr 1.75rem;
    gap: 2rem;
    padding: 1.6rem 1rem 1.6rem 5.5rem;
    border-bottom: 1px solid #d5d5d5;
}
.last-row {
    border-bottom: none;
}

.head {
    color: #263857;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.col {
    color: #7e98ba;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.13px;
    align-self: center;
}

.more-icon {
    cursor: pointer;
}
